body{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(2,45vw);
    gap: 2vw;
}
.tableinfo{
 border: 2px solid black;
 height: 100vh;
 overflow-y: scroll;
}
.manitable{
    border: 2px solid green;
}
caption{
    text-align: center;
}
table{
    border-collapse: collapse;
    margin: auto;
}
th,td{
    padding: 10px 20px;
    border: 2px solid black;
}
.insert,.remove,.searchclass{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.insert input,.insert button,.remove input,.remove button,.searchclass select,.searchclass input{
    padding: 5px;
   width: 20vw;
    border-radius: 10px;
    text-align: center;
}
